@import "~normalize.css";
.menu {
    display: flex;
    justify-content: space-between;
    background-color: 	#2E4A62;
    color: white;
    padding: 10px 50px 10px 50px;
}
.logo {
    width: 50px;
    height: 50px;
    background-image: url(./BMW.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.container {
    display: flex;
    align-items: center;
    a {
        margin-left: 40px;
        text-decoration: none;
        color: #00A591;
        text-transform: uppercase;
        font-size: large;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
    }
}
