.cardContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 70px 20px 70px 20px;
    .card{
        flex: 0 0 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px solid 	#778899;
        background-color: #C0AB8E;
        height: 300px;
        margin: 10px;
        .card__title{
            font-size: 20px;
            font-weight: bolder;
            text-align:center;
        }
        .ser1{
            background-image: url(./1er.jpg);
            width: 230px;
            height: 150px;
            background-size: cover;
            background-position: center;    
        }
        .ser2{
            background-image: url(./2er.jpg);
            width: 230px;
            height: 150px;
            background-size: contain;
            background-position: center;    
        }
        .ser3{
            background-image: url(./3er.jpg);
            width: 230px;
            height: 150px;
            background-size: cover;
            background-position: center;    
        }
        .ser4{
            background-image: url(./4er.jpg);
            width: 230px;
            height: 150px;
            background-size: cover;
            background-position: center;    
        }
        .ser5{
            background-image: url(./5er.jpg);
            width: 230px;
            height: 150px;
            background-size: cover;
            background-position: center;    
        }
        .ser6{
            background-image: url(./6er.jpg);
            width: 230px;
            height: 150px;
            background-size: cover;
            background-position: center;    
        }
        .ser7{
            background-image: url(./7er.jpg);
            width: 230px;
            height: 150px;
            background-size: cover;
            background-position: center;    
        }
        .ser8{
            background-image: url(./8er.jpg);
            width: 230px;
            height: 150px;
            background-size: cover;
            background-position: center;    
        }
    }
}