@import "~normalize.css";
.footer {
    height: 50px;
    background-color: #2e4a62;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 15px;
    color:rgb(0, 0, 0);
}
